*{
    margin: 0;
    padding: 0;
}


#centrar{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#colorBox{
    background-color: #afafaf ;
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 7px 13px 37px black;
    color: rgb(31, 31, 31);
    font-family: freestyle Script;
    padding-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
}

textarea{
    margin-bottom: 2rem;
    border: 3px solid lightgrey;
}

input,select{
    border: 3px solid lightgrey;
}

input,select,h1:not(#mainH1){
    margin-bottom: 2rem;
    text-align: center;
    width: 20rem;
}

textarea{
    max-width: 48rem;
}

textarea:hover,input:hover,select:hover{
    border: 3px solid rgb(25, 151, 0);  
}

label{
    text-align: center;
    font-size: 27px;
}


h1:not(#mainH1){
    margin-top: 2rem;
    font-size: 3rem;
}


.ReturnIndex{
    font-size: 3rem;
    text-decoration: none;
    color: rgb(31, 31, 31);
    /*Preguntar porque no funcina un margin top/bottom aqui*/
}

.ReturnIndex:hover{
    font-size: 3rem;
    text-decoration: none;
    color: rgb(31, 31, 31);
    margin-bottom: 2rem;
    text-decoration: underline;
}
